<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% block head %}{% endblock %}
  <body>
    {% include "../objects/icons.njk" %}

    {% include "../components/header.njk" %}

    <main>
      {% block main %}{% endblock %}
    </main>

    {% include "../components/footer.njk" %}

    {% block javascript %}{% endblock %}

  </body>
</html>
