<div class="o-media__controller">
  <svg id="play-pause" class="o-icon">
    <use xlink:href="#media-play"></use>
  </svg>
  <svg class="o-icon">
    <use xlink:href="#media-pause"></use>
  </svg>
  <svg id="stop" class="o-icon">
    <use xlink:href="#media-stop"></use>
  </svg>
  <svg id="mute" class="o-icon">
    <use xlink:href="#volume-off"></use>
  </svg>
  <svg id="voldec" class="o-icon">
    <use xlink:href="#volume-low"></use>
  </svg>
  <svg id="volinc" class="o-icon">
    <use xlink:href="#volume-high"></use>
  </svg>
  <svg id="full-screen" class="o-icon">
    <use xlink:href="#fullscreen-enter"></use>
  </svg>
  <svg class="o-icon">
    <use xlink:href="#fullscreen-exit"></use>
  </svg>
</div>