<div class="o-media__controller">
  <div>
    <svg class="o-icon o-icon--medium js-play-video">
      <use xlink:href="#media-play"></use>
    </svg>
    <svg class="o-icon o-icon--medium js-pause-video">
      <use xlink:href="#media-pause"></use>
    </svg>
    <svg class="o-icon o-icon--medium js-stop-video">
      <use xlink:href="#media-stop"></use>
    </svg>
  </div>
  <div>
    <svg class="o-icon o-icon--medium js-vol-off">
      <use xlink:href="#volume-off"></use>
    </svg>
    <svg class="o-icon o-icon--medium js-vol-dec">
      <use xlink:href="#volume-low"></use>
    </svg>
    <svg class="o-icon o-icon--medium js-vol-inc">
      <use xlink:href="#volume-high"></use>
    </svg>
    <svg class="o-icon o-icon--medium js-full-screen">
      <use xlink:href="#fullscreen-enter"></use>
    </svg>
  </div>
</div>