{# Macro for generate media image #}
{% macro image(src, alt, srcSet, lazy=false )%}
  <figure class="o-media">
    {% if srcSet %}
      <picture>
        {% for source in srcSet -%}
          <source srcset="{{ source.srcset }}" media="(min-width: {{ source.bp }})">
        {%- endfor %}
        <img class="o-media__image" src="{{ src }}" alt="{{ alt }}" {% if lazy %}loading="lazy"{% endif %} />
      </picture>
    {% else %}
      <img class="o-media__image" src="{{ src }}" alt="{{ alt }}" {% if lazy %}loading="lazy"{% endif %} />
    {% endif %}
  </figure>
{% endmacro %}

{##}

{# Macro for generate media video #}
{% macro video(source) %}
  <video class="o-media--video" playsinline>    
    {% for src, type in source -%}
      <source src="{{ src }}" type="{{ type }}">
    {%- endfor %}
  </video>
  {% include "controls.njk" %}
{% endmacro %}