.o-media {

  &--video {
    position: relative;
  }

  &__controller {
    background-color: rgba(255,255,255,.85);
    display: flex;
    justify-content: space-between;
    padding: 8px;
    width: 100%;

    .o-icon {
      cursor: pointer;
    }
  }
}