<nav class="c-nav">
  <div class="c-nav__toggle">
    <input class="c-nav__toggle-input" type="checkbox" />
    <div class="c-nav__toggle-icon"></div> 
  </div>
  <ul class="c-nav__menu">
    {% for item in nav %}
      <li class="c-nav__item">
        <a class="o-link c-nav__link" href="{{ item.url }}" aria-label="navigation-url">{{ item.page }}</a>
      </li>
    {% endfor %}
  </ul>  
</nav>