@font-face {
  font-display: swap;
  font-family: "ZillaSlab Semibold";
  font-weight: 600;
  src: url("../fonts/ZillaSlab-SemiBold.woff2") format("woff2"),
       url("../fonts/ZillaSlab-SemiBold.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Lato Regular";
  font-weight: 400;
  src: url("../fonts/Lato-Regular.woff2") format("woff2"),
       url("../fonts/Lato-Regular.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-weight: 700;
  src: url("../fonts/Lato-Bold.woff2") format("woff2"),
       url("../fonts/Lato-Bold.woff") format("woff");
}